:root {
	--white-primary: #fafafa;
	--white-secondary: #dcdcdc;
	--black-primary: #111;
	--black-secondary: #333;
	--secondary: #131230;
	--navbar: rgb(221, 90, 34);
	--navbar-transparent: rgba(221, 90, 34, 0.7); 
}

body {
	background-color: var(--white-primary);
	color: var(--black-primary);
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

main {
	padding-top: 64px;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: normal;
}

p {
	margin: 0;
}

nav {
	transition: top 0.8s, background-color 0.8s;
	background-color: var(--navbar);
}

nav.navbar-show {
	top: 0;
	background-color: var(--navbar);
}

nav.navbar-hide {
	top: -100px; 
}

nav.at-top.navbar-show {
	background-color: var(--navbar); 
}

nav:not(.at-top).navbar-show {
	background-color: var(--navbar-transparent); 
}

nav .nav-link {
	color: var(--white-primary); 
	transition: color 0.3s;
}

nav .nav-link:hover {
	color: var(--white-primary); 
}

nav .nav-item .nav-link.active {
	position: relative;
	color: var(--white-primary); 
}

nav .nav-item .nav-link.active::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--white-primary);
}

.banner {
	position: relative;
	height: 500px;
	overflow: hidden;
}

.banner-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transform: translateZ(-1px) scale(2);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	transition: transform 0.2s ease-out; 
}

.banner-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: white;
	transition: transform 0.2s ease-out; 
}

.banner-content h1 {
	font-size: 3rem;
	margin: 0;
}

.banner-content p {
	font-size: 1.5rem;
	margin: 0;
}
