#ideas {
  padding: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button.active {
  background-color: #ff6600;
  color: #fff;
  border-color: #ff6600;
}

.pagination button:disabled {
  color: #ccc;
  cursor: not-allowed;
}
